
# Add other API keys as needed
TMDB_API_READ_ACCESS_TOKEN="eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlZjBlNTM5NGFjYmJiYzg3MDQ2YTM4NjRiMGYzN2RiMiIsIm5iZiI6MTc0NDk3MDY0My42ODk5OTk4LCJzdWIiOiI2ODAyMjM5MzJjODVlNzk2NjM5OWFhOTIiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.gm7JeAqgI51ek2YjgHP-BdYGPXfVqBqg5gRZ1VtIaVQ"
NEXT_PUBLIC_SUPABASE_URL="https://xibavhqvjxlmkrhwyjve.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhpYmF2aHF2anhsbWtyaHd5anZlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI3NzcyODEsImV4cCI6MjA2ODM1MzI4MX0.baFJIi0i-ACk3dD95dbZNcv_ieJ_sL4GNLfl4w3XPUU"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhpYmF2aHF2anhsbWtyaHd5anZlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mjc3NzI4MSwiZXhwIjoyMDY4MzUzMjgxfQ.kc5yDeWDG5tajN4Q1ArL__OztE_At-x3DG3I9YfJoBo"